name: Deploy Server to Azure Web App

on:
  push:
    branches:
      - main
    paths:
      - 'server/**'
      - '.github/workflows/deploy-server.yml'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4

    - name: Set up Node.js version
      uses: actions/setup-node@v4
      with:
        node-version: '24.x'

    - name: npm install, build, and test
      run: |
        npm install
        npm run build --if-present
      working-directory: server

    - name: Create .env file
      run: |
        echo "GROQ_API_KEY=${{ secrets.GROQ_API_KEY }}" > .env
      working-directory: server

    - name: Zip artifact for deployment
      run: zip -r release.zip ./* -x "**/*.git*"
      working-directory: server

    - name: 'Deploy to Azure Web App'
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'PoorDownBackend' # Replace with your app name
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: server/release.zip
